In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [91]:
#load the data into pandas dataframe
df = pd.read_csv("orders.csv")

In [92]:
df.head(10)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,Not Available,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,Not Available,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [93]:
df["Ship Mode"].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [94]:
#read data with na values
df = pd.read_csv("orders.csv",na_values=["Not Available","unknown"])
df.head(10)
plot.show

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
5,6,2022-03-13,NaN,Consumer,United States,Los Angeles,California,90032,West,Furniture,Furnishings,FUR-FU-10001487,50,50,7,3
6,7,2022-12-28,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Art,OFF-AR-10002833,10,10,4,3
7,8,2022-01-25,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Technology,Phones,TEC-PH-10002275,860,910,6,5
8,9,2023-03-23,NaN,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Binders,OFF-BI-10003910,20,20,3,2
9,10,2023-05-16,Standard Class,Consumer,United States,Los Angeles,California,90032,West,Office Supplies,Appliances,OFF-AP-10002892,90,110,5,3

In [95]:
#renames columns names make them lower case and replace spaces with underscore
df.rename(columns={"Order Id":"order_id","City":"city"})
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ","_")
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [96]:
#make a new column for profit, discount and sale price
df["discount"]=df["list_price"]*df["discount_percent"]*.01
df["sale_price"]=df["list_price"]-df["discount"]
df["profit"]=df["sale_price"]-df["cost_price"]
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [97]:
#convert order date from object data type to datatime
df["order_date"]=pd.to_datetime(df["order_date"],format="%Y-%m-%d")

In [98]:
#drop cost proce list price and discount percent Sale price columns
df.drop(columns=["list_price","cost_price","discount_percent"],inplace=True)

In [99]:
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,19.0,-1.0

In [100]:
 !pip install PyMySQL
 !pip install mysql-connector-python
!pip install pymysql

Requirement already satisfied: PyMySQL in c:\users\sneha\appdata\local\programs\python\python312\lib\site-packages (1.1.1)
Requirement already satisfied: mysql-connector-python in c:\users\sneha\appdata\local\programs\python\python312\lib\site-packages (9.1.0)
Requirement already satisfied: pymysql in c:\users\sneha\appdata\local\programs\python\python312\lib\site-packages (1.1.1)

In [101]:
from sqlalchemy import create_engine
import mysql.connector

In [102]:
connection_string = "mysql+pymysql://root:@localhost:3306/abcpy"

engine = create_engine(connection_string)
df.to_sql('orders', con=engine, if_exists='replace', index=True)

9994

In [103]:
query = "SHOW TABLES;"
df = pd.read_sql(query, engine)
print("Tables in the database:")
print(df)

Tables in the database:
  Tables_in_abcpy
0          orders
1              py
2           trump
3           users

In [104]:
query = "DESCRIBE orders;"
df = pd.read_sql(query, engine)
print("Description of the 'orders' table:")
print(df)

Description of the 'orders' table:
           Field        Type Null  Key Default Extra
0          index  bigint(20)  YES  MUL    None
1       order_id  bigint(20)  YES         None
2     order_date    datetime  YES         None
3      ship_mode        text  YES         None
4        segment        text  YES         None
5        country        text  YES         None
6           city        text  YES         None
7          state        text  YES         None
8    postal_code  bigint(20)  YES         None
9         region        text  YES         None
10      category        text  YES         None
11  sub_category        text  YES         None
12    product_id        text  YES         None
13      quantity  bigint(20)  YES         None
14      discount      double  YES         None
15    sale_price      double  YES         None
16        profit      double  YES         None

In [105]:
query = "select * from orders limit 5;"
df = pd.read_sql(query, engine)
print(df)

   index  order_id order_date       ship_mode    segment        country  \
0      0         1 2023-03-01    Second Class   Consumer  United States
1      1         2 2023-08-15    Second Class   Consumer  United States
2      2         3 2023-01-10    Second Class  Corporate  United States
3      3         4 2022-06-18  Standard Class   Consumer  United States
4      4         5 2022-07-13  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies

  sub_category       product_id  quantity  discount  sale_price  profit
0    Bookcases  FUR-BO-10001798         2       5.2       254.8    14.8
1       Chairs  FUR-CH-10000454         3      21.9       708.1   108.1
2       Labels  OFF-LA-10000240         2       0.5         9.5    -0.5
3       Tables  FUR-TA-10000577         5      19.2       940.8   160.8
4      Storage  OFF-ST-10000760         2       1.0        19.0    -1.0